*{
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
}

h1 {
    background-color: #031927;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: azure;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
    
}

.choice:hover {
    cursor: pointer;
    background-color: #031927;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 40px;
}

.scoreboard{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2rem;
    
}

#userscore , #pcscore {
    font-size: 4rem;
}

.msgcontainer {
    margin-top: 4.9rem;
}

#msg {
    background-color: #031927;
    color: aliceblue;
    font-size: 1.5rem;
    display: inline;
    padding: 8px;
    border-radius: 10px;
}